[submodule "samples/lib/threadx"]
	path = samples/lib/threadx
	url = git@github.com:azure-rtos/threadx.git
[submodule "samples/lib/netxduo"]
	path = samples/lib/netxduo
	url = git@github.com:azure-rtos/netxduo.git
[submodule "samples/lib/azure-iot-preview"]
	path = samples/lib/azure-iot-preview
	url = git@github.com:azure-rtos/azure-iot-preview.git
	branch = preview
